.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.filter{
    position: relative;
    z-index: 9;
    box-shadow: 0 2px 8px 0 rgba(26,26,26,0.16);
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    height: 60px;
    border-radius: 8px;
    background-color: #fff;
    // padding: 0 10px;
    .svg{
        svg{
            width: 20px;
            color: #000;
        }
    }
    display: flex;
    align-items: center;
    >div{
        display: flex;
        align-items: center;
        width: 31%;
        button{
            span{
                margin:0 10px;
            }
        }
        .svg{
            margin:0 10px;
        }
        .ant-input:focus,.ant-select-selector:focus,.ant-picker:focus,.ant-picker-focused{
            box-shadow: none;
        }
        .ant-select-selector,.ant-picker,.ant-input{
            border: none;
            height: 60px;
            display: flex;
            align-items: center;
        }
        .ant-picker-suffix{
            display: none;
        }
        .submitBtn{
            height: 60px;
            font-weight: bold;
            font-size: 18px;
        }
    }
    .submit{
        width: auto!important;
    }
    .numberPeople{
        position: relative;
        .people{
            height: 60px;
            .peopleBox{
                width: 90%;
                position: absolute;
                z-index: 9;
                background: #fff;
                box-shadow: 0 2px 8px 0 rgba(26,26,26,0.16);
                padding: 15px 10px;
                border-radius: 5px;
                .item{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 15px;
                    font-size: 13px;
                    font-weight: bold;
                    button{
                        width: 100%;
                        height: 40px;
                    }
                }
            }
            .title{
                height: 60px;
                line-height: 60px;
                cursor: pointer;
                color: rgba(0, 0, 0, 0.88);
                font-size: 14px;
            }
        }
    }
}
/* 搜索 */
.Home{
    margin-bottom: 30px;
    header{
        width: 100%;
        background-color: #003b95;
        height: 140px;
        position: relative;
        h1{
            margin: 0px;
            color: #fff;
            padding-top: 30px;
        }
       
    }
    .Homecontent{
        margin-top: 80px;
        display: flex;
        justify-content: space-between;
        .ant-card{
            border-color: #c6c6c6;
            .ant-card-body{
                padding: 15px;
            }
        }
        aside{
            width: 20%;
            .ant-checkbox-group{
               display: block;
               label{
                display: flex;
               }
            }
            .ant-divider{
                margin: 15px 0;
            }
            h3{
                margin-bottom:10px;
            }
        }
        .hotel_list{
            width: 78%;
            h1{
                color: #1a1a1a;
                margin-bottom: 20px;
            }
            .ant-card-body::after,.ant-card-body::before{
                display: none;
            }
            .box{
                .ant-card{
                    margin-bottom: 15px;
                    .ant-card-body{
                        display: flex;
                    }
                    .hotel_left{
                        display: flex;
                        .hotel_pic{
                            width: 200px;
                            height: 200px;
                            margin-right: 15px;
                            img{
                                width: 100%;
                                height: 100%;
                                border-radius: 5px;
                                object-fit: cover;
                            }
                        }
                       
                    }
                    .hotel_right{
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        .hotel_text{
                            .title{
                                display: flex;
                                align-items: center;
                                h1{
                                    margin-bottom: 3px;
                                }
                                .start{
                                    margin-left: 10px;
                                    color: #FFB030;
                                }
                            }
                            .address{
                                color: #1677ff;
                                margin-bottom: 5px;
                            }
                            .price{
                                h3{
                                    font-size: 18px;
                                    margin-bottom: 0px;
                                }
                                p{
                                    font-size: 13px;
                                    color: #666;
                                }
                            }
                            .detail{
                                margin-top: 10px;
                                button{
                                    a{
                                        display: block;
                                        width: 100%;
                                        height: 100%;
                                    }
                                }
                            }
                        }
                        .tag{
                            height: 40px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            .null{
                                text-align: right;
                                margin-right: 10px;
                            }
                            .score{
                                width: 40px;
                                height: 40px;
                                border-radius: 7px;
                                text-align: center;
                                line-height: 40px;
                                background-color: #1677ff;
                                color: #fff;
                                font-size: 18px;
                            }
                        }
                       
                    }
                }
            }
        }
    }
}
/* 详情 */
.Detail{
    header{
        width: 100%;
        background-color: #003b95;
        height: 140px;
        position: relative;
        h1{
            margin: 0px;
            color: #fff;
            padding-top: 30px;
        }
    }
    .Detailcontent{
        .head{
            margin-bottom: 20px;
            .title{
                margin: 10px 0;
                margin-top: 20px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .start{
                    color: #FFB030;
                }
            }
            .address{
                font-size: 14px;
                color: #666;
            }
        }
        .hotel_detail_pic{
            display: flex;
            justify-content: space-between;
            .big_pic{
                width: 70%;
                height: 350px;
                max-height: 350px;
            }
            .small_pic{
                width: 30%;
                height: 350px;
                max-height: 350px;
                >div{
                    width: 100%;
                    height: 50%!important;
                }
            }
            >div{
                .pic{
                    padding: 5px;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .hotel_detail_description{
            p{
                margin: 10px 0;
                font-size: 14px;
                color: #1a1a1a;
            }
            p:last-child{
                font-weight: bold;
            }
        }
        .hotel_detail{
            margin: 20px 0;
            .facility_list{
                display: flex;
                align-items: center;
                margin-top: 10px;
                .item{
                    display: flex;
                    align-items: center;
                    margin-right: 10px;
                    font-size: 14px;
                    span{
                        fill: #007834;
                        margin-right: 10px;
                        svg{
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
            }
        }
        .hotel_reviews{
            margin-bottom: 30px;
            >.title{
                .hotel_score{
                    margin: 20px 0;
                    span{
                        display: inline-block;
                        width: 40px;
                        height: 40px;
                        border-radius: 7px;
                        text-align: center;
                        line-height: 40px;
                        background-color: #1677ff;
                        color: #fff;
                        font-size: 18px;
                        margin-right: 10px;
                    }
                }
            }
            .reviews_spacer{
                >p{
                    font-weight: bold;
                }
                .box{
                    display: flex;
                    flex-wrap: wrap;
                    margin-top: 10px;
                    .item{
                        margin-bottom: 20px;
                        padding-right:20px;
                        width: 33%;
                        >div{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            p{
                                font-size: 14px;
                                font-weight: bold;
                            }
                        }
                    }
                }
                
            }
            .hotel_evaluate{
                overflow-y: scroll;
                .box{
                    width: 100%;
                    display: flex;
                    padding-bottom: 10px;
                    .ant-card{
                        margin-right:15px;
                        width: 350px;
                        height: 200px;
                        max-height: 200px;
                        border-color: #c6c6c6;
                        overflow: hidden;
                        .ant-card-body{
                            padding: 15px;
                            .user{
                                margin-bottom: 10px;
                                display: flex;
                                align-items: center;
                                img{
                                    width: 32px;
                                    height: 32px;
                                    border-radius: 50%;
                                }
                                div{
                                    margin-left: 10px;
                                    p:first-child{
                                        font-weight: bold;
                                        font-size: 17px;
                                    }
                                    p:last-child{
                                        font-size: 13px;
                                    }
                                }
                            }
                            .text{
                                p{
                                    display: -webkit-box;
                                    -webkit-box-orient: vertical;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    -webkit-line-clamp: 4; /* 指定行数 */
                                }
                            }
                        }
                    }
                }
                
              
            }
        }
        .detail_hotel_list{
            position: relative;
            .filter{
                top: 30px;
                width: 60%;
                left: 0px;
                // position: static;
                transform: translate(0);
                height: 40px;
                margin: 20px 0;
                .numberPeople,.time{
                    width: 44%;
                }
                .ant-picker,.people,.people .title{
                    height: 40px;
                    line-height: 40px;
                }
                button{
                    height: 40px;
                    font-size: 14px;
                }
            }
            h2{
                padding-bottom: 90px;
            }
        }
    }
}