.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

*{
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}